/*General Style*/
html {
    scroll-behavior: smooth;
}
html, body{
    font-family: 'Open Sans', sans-serif;
    font-size: 100%;
    margin: 0;
    padding: 1em 0 0 0;
    box-sizing: border-box;
    overflow-x: hidden !important;
    background-color: #fcfcfc;
}
